PORT=4000
RTMP_PORT=1935
HLS_PORT=8000

DATABASE_URL='postgresql://neondb_owner:npg_uGCAUYQon62H@ep-rapid-truth-al9z7dht-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

JWT_SECRET=e4386743168f07ff859b95d1287b7148f64a372fd79bb590eaf0cd944a707572
FFMPEG_PATH=C:\\ffmpeg\\bin\\ffmpeg.exe
BASE_DOMAIN=localhost
